@model Hospital_System.Models.Permission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
