@model IEnumerable<Hospital_System.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Patients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patientFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientPhysicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientRoomNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patientFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientPhysicalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientRoomNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.patientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patientID })
        </td>
    </tr>
}

</table>
