<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital Management System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/appCss")
    @Styles.Render("~/bundles/font_awesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="app">
        @* Header containing top navigation bar *@
        <div id="nav1">
            @RenderPage("~/Views/Shared/_Header.cshtml")
        </div>
        <div id="nav2">
            @RenderPage("~/Views/Shared/_SideNavBar.cshtml")
        </div>
        <div class="container body-content">
            <p id="a"></p>
            @RenderBody()
        </div>
        <div id="nav3">
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
    @RenderPage("~/Views/Shared/VueJS.cshtml")
    @Scripts.Render("~/bundles/methods")
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
